# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:adjective-animal-123 # team: team-name, project: project-name

VITE_CONVEX_URL=https://adjective-animal-123.convex.cloud
# Or if you are using the local convex instance
# VITE_CONVEX_URL=http://127.0.0.1:3210

# Same as VITE_CONVEX_URL but ends in .site
VITE_CONVEX_SITE_URL=https://adjective-animal-123.convex.site
# Or if you are using the local convex instance
# VITE_CONVEX_SITE_URL=http://127.0.0.1:3211

SITE_URL=http://localhost:5173