@import 'tailwindcss';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  html {
    color-scheme: light dark;
  }

  * {
    @apply border-gray-200 dark:border-gray-800;
  }

  html,
  body {
    @apply text-gray-900 bg-gray-50 dark:bg-gray-950 dark:text-gray-200;
  }

  .using-mouse * {
    outline: none !important;
  }
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--accordion-panel-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--accordion-panel-height);
  }
  to {
    height: 0;
  }
}

.animate-accordion-down {
  animation: accordion-down 0.2s ease-out;
}

.animate-accordion-up {
  animation: accordion-up 0.2s ease-out;
}

/* Animation utilities */
@keyframes in {
  from {
    opacity: var(--tw-enter-opacity, 1);
    transform: translate3d(
        var(--tw-enter-translate-x, 0),
        var(--tw-enter-translate-y, 0),
        0
      )
      scale3d(
        var(--tw-enter-scale, 1),
        var(--tw-enter-scale, 1),
        var(--tw-enter-scale, 1)
      )
      rotate(var(--tw-enter-rotate, 0));
  }
}

@keyframes out {
  to {
    opacity: var(--tw-exit-opacity, 1);
    transform: translate3d(
        var(--tw-exit-translate-x, 0),
        var(--tw-exit-translate-y, 0),
        0
      )
      scale3d(
        var(--tw-exit-scale, 1),
        var(--tw-exit-scale, 1),
        var(--tw-exit-scale, 1)
      )
      rotate(var(--tw-exit-rotate, 0));
  }
}

.animate-in {
  animation-name: in;
  animation-duration: var(--tw-animate-duration, 150ms);
  animation-timing-function: var(--tw-animate-easing, cubic-bezier(0.4, 0, 0.2, 1));
  animation-fill-mode: var(--tw-animate-fill-mode, both);
}

.animate-out {
  animation-name: out;
  animation-duration: var(--tw-animate-duration, 150ms);
  animation-timing-function: var(--tw-animate-easing, cubic-bezier(0.4, 0, 0.2, 1));
  animation-fill-mode: var(--tw-animate-fill-mode, both);
}

.fade-in-0 {
  --tw-enter-opacity: 0;
}

.fade-out-0 {
  --tw-exit-opacity: 0;
}

.zoom-in-95 {
  --tw-enter-scale: 0.95;
}

.zoom-out-95 {
  --tw-exit-scale: 0.95;
}

.duration-200 {
  --tw-animate-duration: 200ms;
}
